
  ion-item {
    display: flex;
    align-items: center;
    margin: 15px; 
    margin-bottom:20px;
    padding: 10px;       
    border-radius: 10px; 
    border: none; 
    border-width: 1px;
    border-color:gray ;
    box-shadow: 0px 6px 8px rgba(72, 5, 5, 0.1) ;
  }
  
 
  
  